/*内容主题体 */
.notice-bd {}
.notice-bd:hover{box-shadow:0 0 8px #aaa;border-color:#bbb}

.notice-title a {color:#333;font-weight: bold;}
.notice-title a:hover {color:orange;text-decoration: none;}

.notice-con {color:#666;}