<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="../../css/public.css">
    <link rel="stylesheet" type="text/css" href="../../css/public-style.css">
    <link rel="stylesheet" type="text/css" href="../../libs/semantic/packaged/css/semantic.css">
    <link rel="stylesheet" href="../../libs/font-awesome-4.2.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="../../css/largedata.css"/>

    <script type="text/javascript" src="../../libs/jquery-1.8.3.js"></script>
    <script src="../../libs/jquery.address.js"></script>

    <script type="text/javascript" src="../../libs/semantic/packaged/javascript/semantic.js"></script>



</head>
<body>
<div class="toolbar-wrap ui inverted grid">
    <div class="row">
        <div class="logo-bd three wide column">
            <h1 class="logo">
                <a href="notice_list.html">中科创智慧小区</a>
            </h1>
        </div>

        <div class="adv-wrap thirteen wide column">
            <div class="adv-bd"><img src="../../images/adv/adv1.jpg" alt="中科创智慧小区"/></div>
        </div>
    </div>
</div>

<div class="nav-wrap container">
    <div class="ui grid">
        <div class="row">
            <div class="two wide column">
                <h2 class="community">
                    <a href="">金地梅陇镇</a>
                </h2>
            </div>
            <div class="fourteen wide column">
                <div class="nav ui orange pointing menu">
                    <a class="item no-sub" data-type="home">
                        <i class="home icon"></i> 主页
                    </a>
                    <a class="item" data-type="notice">
                        <i class="fa fa-bell-o icon"></i> 通知
                    </a>
                    <a class="active item" data-type="cost">
                        <i class="fa fa-money icon"></i> 费用
                    </a>
                    <a class="item" data-type="bill">
                        <i class="fa fa-file-text-o icon"></i> 提单
                    </a>
                    <a class="item" data-type="business">
                        <i class="fa fa-briefcase icon"></i> 商务
                    </a>
                    <a class="item" data-type="database">
                        <i class="fa fa-database"></i> 大数据
                    </a>
                    <a class="item" data-type="setting">
                        <i class="setting icon"></i> 设置
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner container">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <p class="last-log-date">上次登陆时间: 2014-05-04</p>
            </div>
            <div class="thirteen wide column sub-nav-wrap">
                <section data-type="notice">
                    <div class="ui text menu sub-nav">
                        <a class="active item">
                            <i class="home icon"></i> 我的通知
                        </a>
                        <a class="item">
                            <i class="time icon"></i> 历史通知
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 安防
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 保洁
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 工程
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 活动
                        </a>
                    </div>
                </section>
                <section data-type="bill">
                    <div class="ui text menu sub-nav">
                        <a class="active item">
                            <i class="home icon"></i> 维修报修
                        </a>
                        <a class="item">
                            <i class="time icon"></i> 投诉建议
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 快递代收
                        </a>
                    </div>
                </section>
                <section data-type="cost">
                    <div class="ui text menu sub-nav">
                        <a class="active item">
                            <i class="home icon"></i> 费用查询
                        </a>
                        <a class="item">
                            <i class="time icon"></i> 物业宝抵扣
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 停车宝抵扣
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="main container">
    <div class="ui feed segment">
        <div class="con-header">
            <div class="ui grid">
                <div class="row">
                    <div class="two wide column">
                        <h2 class="finance"><a href="">88财富网</a></h2>
                    </div>
                    <div class="fourteen wide column">
                        <div class="ui grid">

                            <div class="row">
                                <div class="eleven wide column">

                                </div>
                                <div class="five wide column right floated">
                                    <div class="ui action input mini">
                                        <input type="text" placeholder="请输入房号、姓名、手机号" class="small">

                                        <div class="ui button mini">查询</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <div class="ui tabular filter menu">
                <a class="item active" data-tab="owner">业主</a>
                <a class="item" data-tab="family">家属</a>
                <a class="item" data-tab="renter">租户</a>
            </div>

            <div class="tab-wrap">
                <div class="ui selection tab active" data-tab="owner">
                    <div class="right horizontal segment ui aligned fixedBorderShadow">
                        <div class="ui mini buttons">
                            <div class="ui button">导入</div>
                            <div class="or"></div>
                            <div class="ui button">导出</div>
                        </div>
                    </div>

                    <table class="ui small table segment">
                        <thead>
                            <tr>
                                <th>房号</th>
                                <th>业主</th>
                                <th>身份证</th>
                                <th>手机</th>
                                <th>分类</th>
                                <th>单价</th>
                                <th>平米</th>
                                <th>管理费</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>



                        </tbody>

                    </table>

                    <div class="ui grid">
                        <div class="row">
                            <div class="twelve column wide">
                                <div class="ui small pagination menu">
                                    <a class="icon item"><i class="icon left arrow"></i></a>
                                    <a class="active item">1</a>
                                    <div class="disabled item">...</div>
                                    <a class="item">10</a>
                                    <a class="item">11</a>
                                    <a class="item">12</a>
                                    <a class="icon item"><i class="icon right arrow"></i></a>
                                </div>
                            </div>
                            <div class="four column wide">
                                <div class="small page">当前 <b>6</b> 共 213</div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="ui selection tab" data-tab="family">
                    <div class="right horizontal segment ui aligned fixedBorderShadow">
                        <div class="ui mini buttons">
                            <div class="ui button">导入</div>
                            <div class="or"></div>
                            <div class="ui button">导出</div>
                        </div>
                    </div>

                    <table class="ui small table segment">
                        <thead>
                        <tr>
                            <th>房号</th>
                            <th>业主</th>
                            <th>身份证</th>
                            <th>手机</th>
                            <th>分类</th>
                            <th>单价</th>
                            <th>平米</th>
                            <th>管理费</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>01-102C</td>
                            <td>李四</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>李四</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>李四</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>李四</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>李四</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>李四</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>李四</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>



                        </tbody>

                    </table>

                    <div class="ui grid">
                        <div class="row">
                            <div class="twelve column wide">
                                <div class="ui small pagination menu">
                                    <a class="icon item"><i class="icon left arrow"></i></a>
                                    <a class="active item">1</a>
                                    <div class="disabled item">...</div>
                                    <a class="item">10</a>
                                    <a class="item">11</a>
                                    <a class="item">12</a>
                                    <a class="icon item"><i class="icon right arrow"></i></a>
                                </div>
                            </div>
                            <div class="four column wide">
                                <div class="small page">当前 <b>6</b> 共 213</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui selection tab" data-tab="renter">
                    <div class="right horizontal segment ui aligned fixedBorderShadow">
                        <div class="ui mini buttons">
                            <div class="ui button">导入</div>
                            <div class="or"></div>
                            <div class="ui button">导出</div>
                        </div>
                    </div>

                    <table class="ui small table segment">
                        <thead>
                        <tr>
                            <th>房号</th>
                            <th>业主</th>
                            <th>身份证</th>
                            <th>手机</th>
                            <th>分类</th>
                            <th>单价</th>
                            <th>平米</th>
                            <th>管理费</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>01-102C</td>
                            <td>王五</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>王五</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>王五</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>01-102C</td>
                            <td>王五</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>张三</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>王五</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>01-102C</td>
                            <td>王五</td>
                            <td>341245154512541254</td>
                            <td>12345678911</td>
                            <td>多层</td>
                            <td>1.5</td>
                            <td>112</td>
                            <td>168</td>
                        </tr>



                        </tbody>

                    </table>

                    <div class="ui grid">
                        <div class="row">
                            <div class="twelve column wide">
                                <div class="ui small pagination menu">
                                    <a class="icon item"><i class="icon left arrow"></i></a>
                                    <a class="active item">1</a>
                                    <div class="disabled item">...</div>
                                    <a class="item">10</a>
                                    <a class="item">11</a>
                                    <a class="item">12</a>
                                    <a class="icon item"><i class="icon right arrow"></i></a>
                                </div>
                            </div>
                            <div class="four column wide">
                                <div class="page">当前 <b>6</b> 共 213</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 加载发布的JS -->
<script type="text/javascript" src="../../js/public.js"></script>
<script type="text/javascript" src="../../js/largedata/user-manager.js"></script>

</body>
</html>