<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>黄页</title>
    <link rel="stylesheet" type="text/css" href="../../css/public.css">
    <link rel="stylesheet" type="text/css" href="../../css/public-style.css">
    <link rel="stylesheet" type="text/css" href="../../libs/semantic/packaged/css/semantic.css">
    <link rel="stylesheet" href="../../libs/font-awesome-4.2.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="../../css/cost.css"/>

    <script type="text/javascript" src="../../libs/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../../libs/semantic/packaged/javascript/semantic.js"></script>



</head>
<body>
<div class="toolbar-wrap ui inverted grid">
    <div class="row">
        <div class="logo-bd three wide column">
            <h1 class="logo">
                <a href="notice_list.html">中科创智慧小区</a>
            </h1>
        </div>

        <div class="adv-wrap thirteen wide column">
            <div class="adv-bd"><img src="../../images/adv/adv1.jpg" alt="中科创智慧小区"/></div>
        </div>
    </div>
</div>

<div class="nav-wrap container">
    <div class="ui grid">
        <div class="row">
            <div class="two wide column">
                <h2 class="community">
                    <a href="">金地梅陇镇</a>
                </h2>
            </div>
            <div class="fourteen wide column">
                <div class="nav ui orange pointing menu">
                    <a class="item no-sub" data-type="home">
                        <i class="home icon"></i> 主页
                    </a>
                    <a class="item" data-type="notice">
                        <i class="fa fa-bell-o icon"></i> 通知
                    </a>
                    <a class="item" data-type="cost">
                        <i class="fa fa-money icon"></i> 费用
                    </a>
                    <a class="item" data-type="bill">
                        <i class="fa fa-file-text-o icon"></i> 提单
                    </a>
                    <a class="active item" data-type="business">
                        <i class="fa fa-briefcase icon"></i> 商务
                    </a>
                    <a class="item" data-type="database">
                        <i class="fa fa-database"></i> 大数据
                    </a>
                    <a class="item" data-type="setting">
                        <i class="setting icon"></i> 设置
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner container">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <p class="last-log-date">上次登陆时间: 2014-05-04</p>
            </div>
            <div class="thirteen wide column sub-nav-wrap">
                <section data-type="notice">
                    <div class="ui text menu sub-nav">
                        <a class="active item">
                            <i class="home icon"></i> 我的通知
                        </a>
                        <a class="item">
                            <i class="time icon"></i> 历史通知
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 安防
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 保洁
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 工程
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 活动
                        </a>
                    </div>
                </section>
                <section data-type="bill">
                    <div class="ui text menu sub-nav">
                        <a class="active item">
                            <i class="home icon"></i> 维修报修
                        </a>
                        <a class="item">
                            <i class="time icon"></i> 投诉建议
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 快递代收
                        </a>
                    </div>
                </section>
                <section data-type="cost">
                    <div class="ui text menu sub-nav">
                        <a class="active item">
                            <i class="home icon"></i> 费用查询
                        </a>
                        <a class="item">
                            <i class="time icon"></i> 物业宝抵扣
                        </a>
                        <a class="item">
                            <i class="user icon"></i> 停车宝抵扣
                        </a>
                    </div>
                </section>
                <section data-type="business">
                    <div class="ui text menu sub-nav">
                        <a class="item">
                            <i class="home icon"></i> 家政服务
                        </a>
                        <a class="item">
                            <i class="time icon"></i> 生鲜团购
                        </a>
                        <a class="active item">
                            <i class="user icon"></i> 黄页
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="main container">
    <div class="ui segment">
        <div class="con-header">
            <div class="ui grid">
                <div class="row">
                    <div class="two wide column">
                        <h2 class="finance"><a href="">88财富网</a></h2>
                    </div>
                    <div class="fourteen wide column">
                        <!--<div class="ui grid">
                            <div class="row">
                                <div class="thirteen wide column">

                                </div>
                                <div class="three wide column right floated">
                                    <div class="ui labeled icon button">
                                        <i class="edit icon"></i>
                                        发通知
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div class="ui grid">

                            <div class="row">
                                <div class="eleven wide column">

                                </div>
                                <div class="five wide column right floated">
                                    <div class="ui mini action input">
                                        <input class="small" type="text" placeholder="查询...">
                                        <div class="ui tiny button">查询</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 分割线 -->
        <div class="ui divider"></div>

        <div class="ui mini button orange" id="addAction">
            <i class="add icon"></i>新增
        </div>

        <!-- 分割线 -->
        <div class="ui divider"></div>

        <div class="tableWrap">
            <table class="ui small table segment">
                <thead>
                    <tr>
                        <th>企业名</th>
                        <th>电话</th>
                        <th>地址</th>
                        <th>联系人</th>
                        <th>类别</th>
                        <th>登记时间</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>中科创</td>
                    <td>4008888888</td>
                    <td>福田CBD卓越世纪中心</td>
                    <td>李小姐</td>
                    <td>金融</td>
                    <td>2014-05-09</td>
                </tr>

                <tr>
                    <td>中科创</td>
                    <td>4008888888</td>
                    <td>福田CBD卓越世纪中心</td>
                    <td>李小姐</td>
                    <td>金融</td>
                    <td>2014-05-09</td>
                </tr>

                <tr>
                    <td>中科创</td>
                    <td>4008888888</td>
                    <td>福田CBD卓越世纪中心</td>
                    <td>李小姐</td>
                    <td>金融</td>
                    <td>2014-05-09</td>
                </tr>

                <tr>
                    <td>中科创</td>
                    <td>4008888888</td>
                    <td>福田CBD卓越世纪中心</td>
                    <td>李小姐</td>
                    <td>金融</td>
                    <td>2014-05-09</td>
                </tr>

                <tr>
                    <td>中科创</td>
                    <td>4008888888</td>
                    <td>福田CBD卓越世纪中心</td>
                    <td>李小姐</td>
                    <td>金融</td>
                    <td>2014-05-09</td>
                </tr>

                </tbody>
            </table>

            <div class="ui grid">
                <div class="row">
                    <div class="twelve column wide">
                        <div class="ui small pagination menu">
                            <a class="icon item"><i class="icon left arrow"></i></a>
                            <a class="active item">1</a>

                            <div class="disabled item">...</div>
                            <a class="item">10</a>
                            <a class="item">11</a>
                            <a class="item">12</a>
                            <a class="icon item"><i class="icon right arrow"></i></a>
                        </div>
                    </div>
                    <div class="four column wide">
                        <div class="small page">当前 <b>6</b> 共 213</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="ui dimmer page hidden">
        <div class="ui test modal transition hidden" id="addFormWrap">
            <i class="close icon"></i>
            <div class="header">
                新增企业黄页
            </div>
            <div class="content">
                <div class="ui form segment">
                    <div class="field">
                        <label>企业名</label>
                        <div class="ui left labeled icon input">
                            <input type="text" placeholder="企业名">
                            <i class="suitcase icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>地址</label>
                        <div class="ui left labeled icon input">
                            <input type="text" placeholder="地址">
                            <i class="book icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>

                    <div class="three fields">
                        <div class="field">
                            <label>联系人</label>
                            <div class="ui left labeled icon input">
                                <input placeholder="联系人" type="text">
                                <i class="user icon"></i>
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>电话</label>
                            <div class="ui left labeled icon input">
                                <input placeholder="电话" type="text">
                                <i class="phone icon"></i>
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>类别</label>
                            <div class="ui left labeled icon input">
                                <input placeholder="类别" type="text">
                                <i class="asterisk icon"></i>
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui mini blue submit button right aligned"><i class="save icon"></i>保存</div>
                </div>
            </div>
            <!--<div class="actions">
                <div class="ui black button">
                    不创建
                </div>
                <div class="ui positive right labeled icon button">
                    创建
                    <i class="checkmark icon"></i>
                </div>
            </div>-->
        </div>

    </div>

</div>

<!-- 加载发布的JS -->
<script type="text/javascript" src="../../js/public.js"></script>
<script type="text/javascript" src="../../js/business/yellowpage.js"></script>
</body>
</html>